<%= simple_form_for @announcement, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Announcement</legend>
    
    <%= f.input :user_id, :wrapper_html => { :class => 'control-group'}, :label_html => { :class => 'control-label'}, :input_html => { :class => 'text-field'} %>
    <%= f.input :topic, :wrapper_html => { :class => 'control-group'}, :label_html => { :class => 'control-label'}, :input_html => { :class => 'text-field'} %>
    <%= f.input :content, :as => 'text', :wrapper_html => { :class => 'control-group'}, :label_html => { :class => 'control-label'}, :input_html => { :class => 'text-field'} %>
    <%= f.input :kind, :wrapper_html => { :class => 'control-group'}, :label_html => { :class => 'control-label'}, :input_html => { :class => 'text-field'} %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', announcements_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>


<%= form_for @announcement, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Announcement</legend>

    <div class="control-group">
      <%= f.label :user_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :user_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :topic, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :topic, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :content, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :content, :class => 'text_area' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :kind, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :kind, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', announcements_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
