<% title "Announcements" %>

<table>
  <tr>
    <th>Atopic</th>
    <th>Aid</th>
    <th>Date</th>
  </tr>
  <% for announcement in @announcements %>
    <tr>
      <td><%= announcement.topic %></td>
      <td><%= announcement.aid %></td>
      <td><%= announcement.date %></td>
      <td><%= link_to "Show", announcement %></td>
      <td><%= link_to "Edit", edit_announcement_path(announcement) %></td>
      <td><%= link_to "Destroy", announcement, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Announcement", new_announcement_path %></p>
