<% title "Announcements" %>

<table>
  <tr>
    <th>Topic</th>
    <th>Content</th>
    <th>Created</th>
    <th>Updated</th>
  </tr>
  <% for announcement in @announcements %>
    <tr>
      <td><%= announcement.topic %></td>
      <td><%= announcement.content %></td>
      <td><%= announcement.created_at %></td>
      <td><%= announcement.updated_at %></td>
      <td><%= link_to "Show", announcement %></td>
      <td><%= link_to "Edit", edit_announcement_path(announcement) %></td>
      <td><%= link_to "Destroy", announcement, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Announcement", new_announcement_path %></p>
