<% title "Announcement" %>

<p>
  <strong>Topic:</strong>
  <%= @announcement.topic %>
</p>
<p>
  <strong>Content:</strong>
  <%= @announcement.content %>
</p>
<p>
  <strong>Created:</strong>
  <%= @announcement.created_at %>
</p>
 <p>
  <strong>Updated:</strong>
  <%= @announcement.updated_at %>
</p>
<p>
  <%= link_to "Edit", edit_announcement_path(@announcement) %> |
  <%= link_to "Destroy", @announcement, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", announcements_path %>
</p>
