<% title "Announcement" %>

<p>
  <strong>Atopic:</strong>
  <%= @announcement.topic %>
</p>
<p>
  <strong>Aid:</strong>
  <%= @announcement.aid %>
</p>
<p>
  <strong>Date:</strong>
  <%= @announcement.date %>
</p>

<p>
  <%= link_to "Edit", edit_announcement_path(@announcement) %> |
  <%= link_to "Destroy", @announcement, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", announcements_path %>
</p>
