<h1><%= @project.name %></h1>

<h3>Owner: <%= @project.owner_id %></h3><br>

<p>
  <b>Description</b><br>
  <%= @project.description %>
</p>

<p>
  <b>Project Period: </b>
 <%= @project.started_at.strftime("%m/%d/%Y") %> -
  <%= @project.ending_at.strftime("%m/%d/%Y") %>
</p>

<b> Project Contributors: </b>

<% if @managed_users.empty? %>

	<div class="alert alert-block fade in">
            
            <h4 class="alert-heading">No Contributions Found</h4>
            <p>Some helpful suggestion message</p>
            <p>
              <%= link_to "Find One", users_path, :class => "btn" %>
            </p>
          </div>


<% else %>

<% @managed_users.each do |pc| %>
<div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#managedCollapse<%= pc.id %>">
                 <%= pc.name %>
                </a>
              </div>
              <div id="managedCollapse<%= pc.id %>" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                      	<%= pc.email %>
                
                </div>
              </div>
            </div>
<% end %>
<%= link_to "Add contributors", users_path, :class => "btn" %>
<% end %>



<p></p>
<b> Project Resources: </b>

<% if @managed_resources.empty? %>

	<div class="alert alert-block fade in">
            
            <h4 class="alert-heading">No Resource Found</h4>
            <p>Add a resource</p>
            <p>
              <%= link_to "Create One", new_resource_path, :class => "btn" %>
            </p>
          </div>


<% else %>

<% @managed_resources.each do |pr| %>
<div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#managedCollapse<%= pr.id %>">
                 <%= pr.name %> 
                </a>
              </div>
              <div id="managedCollapse<%= pr.id %>" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                      	<%= pr.file %>
			<p></p>
			<%= pr.description%>
                
                </div>
              </div>
            </div>
<% end %>
<%= link_to "Add Resources", new_resource_path, :class => "btn" %>
<% end %>




<div class="form-actions">
  <%= link_to 'Back', user_path(@project.owner_id), :class => 'btn'  %>
  <%= link_to 'Edit', edit_project_path(@project), :class => 'btn' %>
  <%= link_to 'Delete', project_path(@project), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
