<% title "Project" %>

<p>
  <strong>Started At:</strong>
  <%= @project.started_at %>
</p>
<p>
  <strong>Ending At:</strong>
  <%= @project.ending_at %>
</p>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<p>
  <strong>Owner:</strong>
  <%= @project.owner_id %>
</p>

<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", projects_path %>
</p>
