<%= form_for @resource do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :rtype %><br />
    <%= f.number_field :rtype %>
  </p>
  <p>
    <%= f.label :rdate %><br />
    <%= f.time_select :rdate %>
  </p>
  <p>
    <%= f.label :rname %><br />
    <%= f.text_field :rname %>
  </p>
  <p>
    <%= f.label :rversion %><br />
    <%= f.number_field :rversion %>
  </p>
  <p>
    <%= f.label :rdoc %><br />
    <%= f.text_field :rdoc %>
  </p>
  <p><%= f.submit %></p>
<% end %>
