<%= simple_form_for @resource, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Resource</legend>
    
    <%= f.input :name %>
    <%= f.input :description, :as => :text %>
    <%= f.input :file, :as => :file %>
    <%= f.input :project_id %>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', resources_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

